figures/
figure/
*.html
analysis_rapport_laurent.Rmd
analysis_rapport_laurent.html
analysis_rapport_laurent.pdf
*.pdf
*.bbl
*.blg
*.log
*.md
!readme.md
*.nav
*.snm
*.gz
*.tex
*.toc
.DS_Store
.Rproj.user
cache/
.RData
.RdataTmp
.RdataTmp1
.Rhistory
.Rproj.user/